<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>test angluar</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.1/angular-messages.js"></script>
    <style>
      .par{
        background:#f9f9f9;
      }
      .impar{
        background: #fff;
      }
    </style>
  </head>
  <body ng-app="myApp" >
    <script src="myApp.js"></script>
    <script src="myController.js"></script>

    <!-- servicios -->
       <script src="myFactory.js " ></script>

       <script src="myService.js" ></script>

       <script src="myProvider.js" ></script>

       <script src="myCulture.js" ></script>

  <!-- aplicar el config -->
  <script src="config.js" ></script>
    <input type="text" ng-model="model.name" />
    <div ng-cloak>
      Saludos {{model.name}}
    </div>
    <div ng-controller="saludos">

    </div>


    <!-- scope controladores hermanos -->
    <div ng-controller="controller1">
      <button type="button" ng-click="f1()">buscar</button>
    </div>
    <div ng-controller="controller2">
      <p ng-cloak>{{text}}</p>
    </div>

    <!-- binding -->
      <div ng-controller="binding">
      <label for="campo1">nombre</label>
      <input type="text" name="campo1" ng-model="campo1">
      <label for="campo2" >apellidos</label>
      <input type="text" name="campo2" ng-model="campo2">
      <p>{{nombreCompleto()}}</p>
      </div>

    <!-- form -->
     <form name="captacion">
      <input type="text" name="nombre" ng-model="name" required ng-minlength="5" ng-maxlength="10" />
      <!-- <span ng-show="captacion.nombre.$error.required">Nombre requerido</span> -->
        <div ng-messages="captacion.nombre.$error" style="color:red" role="alert">
          <div ng-message="required">campo requerido</div>
          <div ng-message="minlength">campo demasiado corto</div>
          <div ng-message="maxlength">campo demasiado largo</div>
        </div>
     </form>

  <div ng-controller="servicios">

  </div>

  <script src="userProvider.js"></script>
  <div ng-controller="jsoncontroller">
    <table>
      <tr>
        <th align="left">Nombre</th>
        <th align="left">Ciudad</th>
        <th align="left">Pais</th>
      </tr>
      <tr ng-repeat="item in usuarioss" ng-class-odd="'par'" ng-class-even="'impar'" ng-if="item.Country!='Mexico'">
        <!--ng-hide="item.Country=='Mexico'"-->
        <td>{{item.Name}}</td>
        <td>{{item.City}}</td>
        <td>{{item.Country}}</td>
      </tr>
    </table>
  </div>

<!-- DIRECTIVAS EN ANGULAR JS  -->
  <script src="myDirective.js" charset="utf-8"></script>
  <my-directive></my-directive>
  <my-directivedos></my-directivedos>
  <my-directivetres data-attribute="hola mundo!!!"></my-directivetres>
  <my-directivecuatro data-attribute="hola mundo d4"></my-directivecuatro>
  <my-directivecontroller data-attribute="hola mundo dcontroller"></my-directivecontroller>
  <my-directivetemplate data-t="tem"></my-directivetemplate>

<div ng-controller="isolatedEvalController">
  <my-directive-isolated data-one-binding="{{name}}" data-two-binding="name" data-function="click()">{{name}}</my-directive-isolated>
  <br>
  <my-directive-eval data-one-binding="{{name}}" data-two-binding="name" data-function="click()">{{name}}</my-directive-eval>
</div>

<script src="mySelectDirective.js" charset="utf-8"></script>
<div ng-controller="selectController">
  <p>select creado por directiva</p>
  <my-select model="model.id" collection="collection" default="2"></my-select>
  {{model}}
  <br>
  {{model.id}}
</div>

  </body>
</html>
